/* LoaderContainer.module.css */
.loader-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 4px solid var(--secondary-color);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 120px);
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left: 4px solid var(--primary-color);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
