// color variables

:root {
  --primary-color: #12bfa2;
  --secondary-color: #f2552c;
  --accent1: #fff;
  --accent2: #d8dde3;
  --accent3: #f4c84a;
  --accent4: #eef8f5;
  --accent5: #b7ef55;
  --white: #ffffff;

  --white-neutral1: #101318;
  --white-neutral2: #2d333b;
  --white-neutral3: #3f4752;
  --white-neutral4: #141820;

  --black-neutral1: #ffffff;
  --black-neutral2: #f5f7f9;
  --black-neutral3: #ccd4dd;
  --black-neutral4: #fbfcfd;
}

[data-theme="dark"] {
  --primary-color: #12d6b1;
  --secondary-color: #ff6945;
  --accent1: #12161c;
  --accent2: #2a313a;
  --accent3: #ffd166;
  --accent4: #1c2b28;
  --accent5: #b7ef55;
  --white: #ffffff;

  --black-neutral1: #080b0f;
  --black-neutral2: #111820;
  --black-neutral3: #29323d;
  --black-neutral4: #121820;

  --white-neutral1: #ffffff;
  --white-neutral2: #eef4f5;
  --white-neutral3: #a9b6c4;
  --white-neutral4: #f8fbfb;
}
